.About{
    display: flex;
    font-family: 'Maven Pro', sans-serif;

}

.About_Left{
    position: absolute;
    top: 32vh;
    width: 50vw;
    height: 100vh;
    font-size: 2vw;
    color: rgb(48,154,115);
}
.About_Left h1{
    margin-left: 15%;
    font-size: 3vw;
}

.About_Left li{
    list-style: none;
    margin-left: 15%;
    font-size: 1.5vw;
    color: silver;
      
}

.About_Left p{
    margin-left: 15%;
    -webkit-animation: Quick_Intro
    0.9s 1.5s both;
    animation: Quick_Intro
    0.9s 1.5s both;
}


.About p{
    font-size: 1.5vw;
    color: silver;
}

.About_Right{
    position: absolute;
    height: 17vw;
    top: 35vh;
    left: 50vw;
    width: 43vw;
    border-left: 1px solid;
    color: rgb(255, 118, 21);
    -webkit-animation: Quick_Intro
    0.9s 1s both;
    animation: Quick_Intro
    0.9s 1s both;
}

.About_Right p{
    margin-top: 6px;
    margin-left: 10px;
}
