

@media (min-width: 1500px) {

  .App {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    margin-left: 0;
    margin-right: 0;
  }

  }

  @media (max-width: 1499px) {

    .App {
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: flex;
      margin-left: 0;
      margin-right: 0;
    }
  }

  @media (max-width: 1199px) {
     
  
  }

  @media (max-width: 800px) {



  }
