@media (min-width: 1500px) {
    .Header{
        display: flex;
        width: 100%;
        font-size: 2vw;
   }
    .Nav{
        font-family: 'Maven Pro', sans-serif;
        background-color:rgb(9,24,38);
        color: rgb(255, 118, 21);
        position: relative;
        width: 6vw;
        height: 100vh;
        text-align: center;
   }
    .lt{
        width: 100vw;
        font-size: 2vw;
        color: rgb(48,154,115);
   }
    .gt{
        width: 100vw;
        font-size: 2vw;
        color: rgb(48,154,115);
   }
    .name{
        margin-top: 10px;
        font-size: 2vw;
        width: 100vw;
   }
    .Routes{
        height: 100%;
        position: absolute;
        top: 49vh;
        left: 50%;
        width: 6rem;
        height: 25vh;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
   }
    .Footer{
        position: absolute;
        top: 90vh;
        width: 100%;
        text-align: center;
   }
    h1{
        margin-top: 20px;
   }
    .Routes li{
        list-style: none;
        margin-bottom: 25px;
        font-size: 2.3vh;
   }
    a{
        color: rgb(255, 118, 21);
        text-decoration: none;
   }
    a:hover, a:focus a:active {
        font-size: 2.6vh;
        color: rgb(48,154,115);
   }
}
@media (max-width: 1499px) {
    .Header{
        display: flex;
        width: 100%;
        font-size: 2vw;
   }
    .Nav{
        font-family: 'Maven Pro', sans-serif;
        background-color:rgb(9,24,38);
        color: rgb(255, 118, 21);
        position: relative;
        width: 6rem;
        height: 100vh;
        text-align: center;
   }
    .lt{
        width: 100vw;
        font-size: 2vw;
        color: rgb(48,154,115);
   }
    .gt{
        width: 100vw;
        font-size: 2vw;
        color: rgb(48,154,115);
   }
    .name{
        margin-top: 10px;
        font-size: 2vw;
        width: 100vw;
   }
    .Routes{
        height: 100%;
        position: absolute;
        top: 49vh;
        left: 50%;
        width: 6rem;
        height: 25vh;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
   }
    .Footer{
        position: absolute;
        top: 90vh;
        width: 100%;
        text-align: center;
   }
    h1{
        margin-top: 20px;
   }
    .Routes li{
        list-style: none;
        margin-bottom: 25px;
        font-size: 2.3vh;
   }
    a{
        color: rgb(255, 118, 21);
        text-decoration: none;
   }
    a:hover, a:focus a:active {
        font-size: 2.6vh;
        color: rgb(48,154,115);
   }
}
@media (max-width: 1199px) {
    .Header{
        width: 100%;
        font-size: 2vw;
   }
    .Nav{
        font-family: 'Maven Pro', sans-serif;
        background-color:rgb(9,24,38);
        position: relative;
        width: 5rem;
        height: 100vh;
   }
    .name{
        margin-top: 10px;
        font-size: 5vh;
        width: 100vw;
   }
    .Routes{
        height: 100%;
        top: 49vh;
        left: 50%;
        width: 9v;
        height: 25vh;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
   }
    .Footer{
        top: 86vh;
        width: 100%;
   }
    h1{
        margin-top: 20px;
   }
    .Routes li{
        margin-bottom: 30px;
        font-size: 1.7vw;
   }
    a:hover, a:focus a:active {
        font-size: 2vw;
   }
}
@media (max-width: 1000px) {
    .Header{
        font-size: 2vw;
   }
    .Nav{
        position: relative;
        width: 5rem;
        height: 100vh;
        text-align: center;
   }
    .name{
        margin-top: 10px;
        font-size: 5vh;
        width: 100vw;
   }
    .Routes{
        height: 100%;
        top: 49vh;
        left: 50%;
        width: 9v;
        height: 25vh;
   }
    .Footer{
        top: 86vh;
        width: 100%;
   }
    h1{
        margin-top: 20px;
   }
    .Routes li{
        margin-bottom: 30px;
        font-size: 2vw;
   }
    a{
        text-decoration: none;
   }
    a:hover, a:focus a:active {
        font-size: 2.2vw;
   }
}
@media (max-width: 900px) {
    .Routes li{
        margin-bottom: 18px;
        font-size: 2vh;
   }
}
@media (max-width: 800px) {
    .Nav{
        width: 6rem;
   }
    .Footer{
        top: 80vh;
   }
    .Routes li{
        margin-bottom: 18px;
        font-size: 2.0vh;
   }
    a:hover, a:focus a:active {
        font-size: 2.2vh;
   }
}
@media (max-width: 440px) {
    .Nav{
        width: 5rem;
   }
    .Footer{
        top: 80vh;
   }
    .Routes li{
        margin-bottom: 18px;
        font-size: 4.3vw;
   }
    a:hover, a:focus a:active {
        font-size: 4.6vw;
   }
}
@media (max-width: 400px) {
    .Nav{
        width: 4.5rem;
   }
    .Footer{
        top: 80vh;
   }
    .Routes li{
        margin-bottom: 18px;
        font-size: 4.3vw;
   }
    a:hover, a:focus a:active {
        font-size: 4.6vw;
   }
}
