.Nav{

    font-family: 'Maven Pro', sans-serif;
    /* background-color: rgb(21,13,13); */
    background-color:rgb(9,24,38);
    color: rgb(255, 118, 21);
    position: relative;
    width: 6rem;
    height: 100vh;
    text-align: center;
}

.Routes{
    height: 100%;
    position: absolute;
    top: 49vh;
    left: 50%;
    width: 100px;
    height: 165px;
    -webkit-transform: translate(-50%, -50%);  
    transform: translate(-50%, -50%);
}

.Footer{
    position: absolute; 
    top: 90vh;
    width: 100%;
    text-align: center;
}
h1{
    margin-top: 20px;
}

.Routes li{
    list-style: none;
    margin-bottom: 25px;
}

a{
    color: rgb(255, 118, 21);
    text-decoration: none;
}

a:hover, a:focus a:active {
    color: rgb(48,154,115);}
